<!DOCTYPE html>
<html ng-app='myApp'>
  <head>
    <link rel="stylesheet" href="styles.css"/>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller='myController'>
  <div class="quotes-container">

     <div>
       Filter: <input type="text" ng-model='filterText'/>
     </div>
    <p ng-repeat='quote in quotes | filter: filterText'>
      <span class='text'>{{quote.text}}</span>
      <span class='author'> -- {{quote.author}}</span>
      <button ng-click = 'deleteMe(quote.text)'> Delete</button>
    </p>
    <input type="text" placeholder="Add new quote!" ng-model='newQuoteText'>
     <input type="text" placeholder="Quotes author!" ng-model='newQuoteAuthor'>
     <button ng-click="addQuote(newQuoteText, newQuoteAuthor)">Add Quote</button>
  </div>
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="service.js"></script>
</html>
